body{
    background: #e2e2e2;
    padding:0 0 50px 0;
    margin:0;
}
.comments{
    z-index:999;
    position:absolute;
    padding: 5px;
    right:0;
    top:0;
    color:#fff;
}
    .comments .fa-inverse{
        color:#0066cc;
    }
    .comments:hover{
        background:rgba(0,0,0,.4);
        color:#eee;
        text-decoration: none
    }
.navbar{
    border-radius: 0;
}
.thumbnail.no-image{
    padding-right:35px;
}

.nav-buttons{
    margin-top:30px;
    width:100%;
    border-radius:0;
}
    .nav-buttons .btn{
        width:50%;
    }
.thumbnail{
    overflow: hidden;
    padding:0;
    position: relative;
    float:left;
    width:100%;
    border-radius: 0;
    background:#2e2e2e;
    color:#fff;
    border-color: #020202;
}
.thumbnail>.caption{
    color:#fff;
    font-size: 1.25em;
}
.thumbnail>.caption a{
    color:#fff;
}


.gutter{
    margin: 0 15px;
}

.thumbnail-side{
    height: 200px;
}
.thumbnail-side img{
    /*max-width: none;*/
    min-width:100%;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    object-fit: cover
}
.thumbnail-side .caption{
    background:#2e2e2e;
}

.thumbnail>img.img-cube,
.thumbnail>img.img-cube{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-width:inherit;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.title-overlay {
    bottom:0px;
    left:0px;
    right:0px;
    position: absolute;
    text-transform:  uppercase;
    background:rgba(0,0,0,.4);
    color:#fff;
    padding: 0 15px;
}
.title-overlay a{
    color:#fff;
}

.thumbnail-img{
    position:relative;
}


/* Extra small devices (phones, less than 767px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 767px and up) */
@media (min-width: 767px) { 
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }
    .thumbnail>img.img-cube,
    .thumbnail-cube{
        height:260px;
    }
    .thumbnail.thumbnail-side .caption,
    .thumbnail>img.img-cube-side{
        height:100px;
        font-size: .9em;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)  {
    .side-bar{
    padding-top:30px;
    background:#6e6e6e;
    display:inline-block;
    height:100%;
}
    .thumbnail>img.img-cube,
    .thumbnail-cube{
        height:260px;
    }
    .thumbnail.thumbnail-side .caption,
    .thumbnail>img.img-cube-side{
        height:100px;
        font-size: .9em;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   .thumbnail>img.img-cube,
   .thumbnail-cube{
        height:300px;
    }
    .thumbnail.thumbnail-side .caption,
    .thumbnail>img.img-cube-side{
        height:100px;
        font-size: .9em;
    }
}